# Accident Data

In [14]:
# imports
from pyspark.sql import SparkSession, Window
from pyspark.sql.functions import *
import pyspark.pandas as ps
from pyspark.sql.functions import col

In [2]:
spark = SparkSession \
        .builder \
        .master("local")\
        .appName("USAccidentAnalysis") \
        .getOrCreate()

In [3]:
df_charges = spark.read.csv("Data/Charges_use.csv", header=True)
df_damages = spark.read.csv("Data/Damages_use.csv", header=True)
df_endorse = spark.read.csv("Data/Endorse_use.csv", header=True)
df_pp = spark.read.csv("Data/Primary_Person_use.csv", header=True)
df_restrict = spark.read.csv("Data/Restrict_use.csv", header=True)
df_units = spark.read.csv("Data/Units_use.csv", header=True)

In [4]:
df_charges.show(truncate=False)

+--------+--------+--------+----------------------------------------+------------+
|CRASH_ID|UNIT_NBR|PRSN_NBR|CHARGE                                  |CITATION_NBR|
+--------+--------+--------+----------------------------------------+------------+
|14768622|1       |1       |DRIVING WHILE INTOXICATED               |null        |
|14838637|1       |1       |DWI                                     |1600000015  |
|14838641|1       |1       |RAN RED LIGHT SOLID (TC 544.007)        |L20440      |
|14838641|2       |1       |NO DRIVER'S LICENSE (TC521.025)         |L23141      |
|14838668|1       |1       |DRIVING WHILE INTOXICATED               |TX4IC50SRJD3|
|14838669|2       |1       |DWI W/BAC >.015                         |2015-000006 |
|14838670|1       |1       |DRIVING WHILE INTOXICATED               |2016-000003 |
|14838685|1       |1       |FAILED TO DRIVE SINGLE LANE, NOL, NO INS|138434825   |
|14838693|1       |1       |DRIVING WHILE INTOXICATED               |TX4IC60UKQND|
|14838768|2       |1       |DWI                                     |null        |
|14838834|1       |1       |NO DRIVERS LICENSE                      |10019200    |
|14838834|1       |1       |FAIL TO CONTROL SPEED                   |10019200    |
|14838834|1       |1       |LEAVING THE SCENE                       |10019200    |
|14838841|1       |1       |FTLI   / DWLI                           |16-43861    |
|14838841|1       |1       |LEAVING SCENE OF ACCIDENT               |16-43861    |
|14838841|1       |1       |FAIL TO DRIVE IN SINGLE LANE            |16-43861    |
|14838841|1       |1       |FAIL TO REPORT ACCIDENT                 |16-43861    |
|14838842|1       |1       |LEAVING SCENE OF ACCIDENT               |16-43859    |
|14838842|1       |1       |FAIL TO REPORT ACCIDENT                 |16-43859    |
|14838842|1       |1       |FAIL TO DRIVE IN SINGLE LANE            |16-43859    |
+--------+--------+--------+----------------------------------------+------------+
only showing top 20 rows

In [5]:
df_damages.show(truncate=False)

+--------+--------------------------------------+
|CRASH_ID|DAMAGED_PROPERTY                      |
+--------+--------------------------------------+
|14768622|MAILBOX                               |
|14768622|YARD, GRASS                           |
|14838668|GUARDRAIL                             |
|14838685|ROAD SIGN                             |
|14838693|2009 MAZDA 3                          |
|14838834|CHAIN LINK FENCE                      |
|14838841|WOODED POLE ON SOUTH SIDE OF LOOP     |
|14838842|CITY SIGN FOR TURN LANES              |
|14838877|FENCE-CHAIN LINK                      |
|14838977|LANDSCAPING AND METAL SIGN            |
|14839047|APARTMENT BUILDING                    |
|14839047|STREET SIGN                           |
|14839048|HOUSE                                 |
|14839314|LIGHT POLE                            |
|14839330|MINOR DAMAGE TO WOODEN POLE           |
|14839442|CITY OF SAN ANTONIO ALLAN WARRICK SIGN|
|14839472|METAL POLES                           |
|14839517|WATER ATTENUATOR                      |
|14839519|UTILITY POST                          |
|14839551|30 FEET OF GUARDRAIL                  |
+--------+--------------------------------------+
only showing top 20 rows

In [6]:
df_endorse.show(truncate=0)

+--------+--------+------------------+
|CRASH_ID|UNIT_NBR|DRVR_LIC_ENDORS_ID|
+--------+--------+------------------+
|14768622|1       |NONE              |
|14838637|1       |NONE              |
|14838637|2       |NONE              |
|14838641|1       |NONE              |
|14838641|2       |UNLICENSED        |
|14838668|1       |NONE              |
|14838669|1       |NONE              |
|14838669|2       |NONE              |
|14838670|1       |NONE              |
|14838685|1       |UNLICENSED        |
|14838693|1       |NONE              |
|14838768|1       |OTHER/OUT OF STATE|
|14838768|2       |NONE              |
|14838834|1       |UNKNOWN           |
|14838841|1       |NONE              |
|14838842|1       |NONE              |
|14838842|2       |NONE              |
|14838866|1       |NONE              |
|14838877|1       |NONE              |
|14838972|1       |NONE              |
+--------+--------+------------------+
only showing top 20 rows

In [7]:
#df_pp.show(truncate=False)
df_pp.limit(5).toPandas().head()

,CRASH_ID,UNIT_NBR,PRSN_NBR,PRSN_TYPE_ID,PRSN_OCCPNT_POS_ID,PRSN_INJRY_SEV_ID,PRSN_AGE,PRSN_ETHNICITY_ID,PRSN_GNDR_ID,PRSN_EJCT_ID,...,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT,DRVR_LIC_TYPE_ID,DRVR_LIC_STATE_ID,DRVR_LIC_CLS_ID,DRVR_ZIP
0,14768622,1,1,DRIVER,FRONT LEFT,NOT INJURED,27,HISPANIC,MALE,NO,...,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,77357
1,14838637,1,1,DRIVER,FRONT LEFT,NOT INJURED,31,WHITE,MALE,NO,...,0,0,1,0,0,0,DRIVER LICENSE,New York,OTHER/OUT OF STATE,13830
2,14838637,2,1,DRIVER,FRONT LEFT,NOT INJURED,41,BLACK,MALE,NO,...,0,0,1,0,0,0,COMMERCIAL DRIVER LIC.,Texas,CLASS A,78934
3,14838641,1,1,DRIVER,FRONT LEFT,POSSIBLE INJURY,32,WHITE,MALE,NO,...,0,1,0,0,1,0,DRIVER LICENSE,Texas,CLASS C,76520
4,14838641,2,1,DRIVER,FRONT LEFT,NON-INCAPACITATING INJURY,34,BLACK,FEMALE,NO,...,1,0,0,0,1,0,ID CARD,Texas,UNLICENSED,76707

In [8]:
df_restrict.show(truncate=0)

+--------+--------+----------------------+
|CRASH_ID|UNIT_NBR|DRVR_LIC_RESTRIC_ID   |
+--------+--------+----------------------+
|14768622|1       |NONE                  |
|14838637|1       |OTHER/OUT OF STATE    |
|14838637|2       |NONE                  |
|14838641|1       |WITH CORRECTIVE LENSES|
|14838641|2       |UNLICENSED            |
|14838668|1       |NONE                  |
|14838669|1       |NONE                  |
|14838669|2       |WITH CORRECTIVE LENSES|
|14838670|1       |NONE                  |
|14838685|1       |UNLICENSED            |
|14838693|1       |NONE                  |
|14838768|1       |OTHER/OUT OF STATE    |
|14838768|2       |WITH CORRECTIVE LENSES|
|14838834|1       |UNKNOWN               |
|14838841|1       |WITH CORRECTIVE LENSES|
|14838842|1       |NONE                  |
|14838842|2       |NONE                  |
|14838866|1       |NONE                  |
|14838877|1       |NONE                  |
|14838972|1       |NONE                  |
+--------+--------+----------------------+
only showing top 20 rows

In [9]:
#df_units.show(truncate=0)
df_units.limit(5).toPandas().head()

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,...,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14768622,1,MOTOR VEHICLE,N,N,TX,4S2CK57D1X4381118,1999,GRY,ISUZU,...,NA,EAST,Y,0,0,0,1,0,0,0
1,14838637,1,MOTOR VEHICLE,N,N,TX,WVWAN7AN6DE536582,NA,GRY,VOLKSWAGEN,...,NA,SOUTH,Y,0,0,0,1,0,0,0
2,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004,RED,FREIGHTLINER,...,NA,SOUTH,Y,0,0,0,1,0,0,0
3,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004,RED,FREIGHTLINER,...,NA,SOUTH,Y,0,0,0,1,0,0,0
4,14838637,3,TOWED/TRAILER,None,None,NA,None,NA,NA,NA,...,NA,NOT APPLICABLE,N,0,0,0,0,0,0,0

# Analysis 1: Find the number of crashes (accidents) in which number of persons killed are male?

In [99]:
#df_pp.select("PRSN_GNDR_ID").distinct().show(truncate = False)
df_pp.select("PRSN_INJRY_SEV_ID").distinct().show(truncate = False)

+-------------------------+
|PRSN_INJRY_SEV_ID        |
+-------------------------+
|NA                       |
|KILLED                   |
|UNKNOWN                  |
|NON-INCAPACITATING INJURY|
|NOT INJURED              |
|POSSIBLE INJURY          |
|INCAPACITATING INJURY    |
+-------------------------+

In [90]:
# df_pp.select('PRSN_GNDR_ID').distinct().show(truncate = False)
#df_pp.select('PRSN_INJRY_SEV_ID').distinct().show(truncate = False)
num = df_pp.filter((df_pp.PRSN_GNDR_ID == "MALE") & (df_pp.PRSN_INJRY_SEV_ID == "KILLED"))\
           .select('CRASH_ID').distinct().count()


print(num)

180

# Analysis 2: How many two wheelers are booked for crashes?

In [91]:
df_units.select("VEH_BODY_STYL_ID").distinct().show(truncate = False)

+---------------------------------+
|VEH_BODY_STYL_ID                 |
+---------------------------------+
|BUS                              |
|NA                               |
|VAN                              |
|PICKUP                           |
|SPORT UTILITY VEHICLE            |
|PASSENGER CAR, 4-DOOR            |
|FIRE TRUCK                       |
|TRUCK                            |
|UNKNOWN                          |
|AMBULANCE                        |
|POLICE CAR/TRUCK                 |
|MOTORCYCLE                       |
|YELLOW SCHOOL BUS                |
|PASSENGER CAR, 2-DOOR            |
|TRUCK TRACTOR                    |
|FARM EQUIPMENT                   |
|NEV-NEIGHBORHOOD ELECTRIC VEHICLE|
|OTHER  (EXPLAIN IN NARRATIVE)    |
|POLICE MOTORCYCLE                |
|NOT REPORTED                     |
+---------------------------------+

In [95]:
# Filtering units for veh_body_styl_id for two wheeler i.e 'MOTORCYCLE' or 'POLICE_MOTORCYCLE'
df_units_two_wheel = df_units.filter((col('VEH_BODY_STYL_ID') == "MOTORCYCLE") | (col('VEH_BODY_STYL_ID') == "POLICE MOTORCYCLE"))
df_units_two_wheel.count()

784

# Analysis 3: Which state has highest number of accidents in which females are involved?

In [100]:
# Filter gender for FEMALE on PRSN_GNDR_ID and getting groupped on DRVR_LIC_STATE_ID desc to get highest number of accident

df_pp.select("PRSN_GNDR_ID", "DRVR_LIC_STATE_ID").filter(df_pp.PRSN_GNDR_ID == "FEMALE")\
        .groupby("DRVR_LIC_STATE_ID").count().orderBy(col("count").desc()).first().DRVR_LIC_STATE_ID

'Texas'

# Analysis 4: Which are the Top 5th to 15th VEH_MAKE_IDs that contribute to a largest number of injuries including death

In [32]:
df_units.printSchema()

root
 |-- CRASH_ID: string (nullable = true)
 |-- UNIT_NBR: string (nullable = true)
 |-- UNIT_DESC_ID: string (nullable = true)
 |-- VEH_PARKED_FL: string (nullable = true)
 |-- VEH_HNR_FL: string (nullable = true)
 |-- VEH_LIC_STATE_ID: string (nullable = true)
 |-- VIN: string (nullable = true)
 |-- VEH_MOD_YEAR: string (nullable = true)
 |-- VEH_COLOR_ID: string (nullable = true)
 |-- VEH_MAKE_ID: string (nullable = true)
 |-- VEH_MOD_ID: string (nullable = true)
 |-- VEH_BODY_STYL_ID: string (nullable = true)
 |-- EMER_RESPNDR_FL: string (nullable = true)
 |-- OWNR_ZIP: string (nullable = true)
 |-- FIN_RESP_PROOF_ID: string (nullable = true)
 |-- FIN_RESP_TYPE_ID: string (nullable = true)
 |-- VEH_DMAG_AREA_1_ID: string (nullable = true)
 |-- VEH_DMAG_SCL_1_ID: string (nullable = true)
 |-- FORCE_DIR_1_ID: string (nullable = true)
 |-- VEH_DMAG_AREA_2_ID: string (nullable = true)
 |-- VEH_DMAG_SCL_2_ID: string (nullable = true)
 |-- FORCE_DIR_2_ID: string (nullable = true)
 |-- VEH_INVENTORIED_FL: string (nullable = true)
 |-- VEH_TRANSP_NAME: string (nullable = true)
 |-- VEH_TRANSP_DEST: string (nullable = true)
 |-- CONTRIB_FACTR_1_ID: string (nullable = true)
 |-- CONTRIB_FACTR_2_ID: string (nullable = true)
 |-- CONTRIB_FACTR_P1_ID: string (nullable = true)
 |-- VEH_TRVL_DIR_ID: string (nullable = true)
 |-- FIRST_HARM_EVT_INV_ID: string (nullable = true)
 |-- INCAP_INJRY_CNT: string (nullable = true)
 |-- NONINCAP_INJRY_CNT: string (nullable = true)
 |-- POSS_INJRY_CNT: string (nullable = true)
 |-- NON_INJRY_CNT: string (nullable = true)
 |-- UNKN_INJRY_CNT: string (nullable = true)
 |-- TOT_INJRY_CNT: string (nullable = true)
 |-- DEATH_CNT: string (nullable = true)

In [101]:
df_units.select("VEH_MAKE_ID").distinct().show(truncate = False)

+-------------------+
|VEH_MAKE_ID        |
+-------------------+
|AMERICAN IRON HORSE|
|ACURA              |
|WHITE              |
|MOTOR COACH MND INC|
|PIERCE             |
|PORSCHE            |
|WHITEGMC           |
|FREIGHTLINER       |
|BUELL              |
|STERLING           |
|HYUNDAI            |
|INTERNATIONAL      |
|PETER PIRSCH & SONS|
|FIAT               |
|NA                 |
|TOYOTA             |
|RAM                |
|SUBARU             |
|NISSAN             |
|IC CORPORATION     |
+-------------------+
only showing top 20 rows

In [103]:
# Filtering out PRSN_INJRY_SEV_ID for injury and death and join with units for VEH_MAKE_ID
# List of values pertaining to injury including death

injury_flag_list = ['KILLED', 'NON-INCAPACITATING INJURY', 'POSSIBLE INJURY', 'INCAPACITATING INJURY']
df_pp_join_units = df_pp.filter(col('PRSN_INJRY_SEV_ID').isin(injury_flag_list)) \
                            .select('CRASH_ID', 'UNIT_NBR') \
                            .join(df_units.select(['CRASH_ID', 'UNIT_NBR', 'VEH_MAKE_ID']), ['CRASH_ID', 'UNIT_NBR'], 'inner')

# Filtering out NA values for VEH_MAKE_ID and counting unique crashes
df_veh_make_id = df_pp_join_units.select('CRASH_ID', 'VEH_MAKE_ID').filter(col('VEH_MAKE_ID')!="NA") \
                    .distinct().groupby('VEH_MAKE_ID').count().orderBy(desc('count'))

# Getting rank  on crashes count of each veh_make_id
w1 = Window.orderBy(desc('count'))
df_rank_veh_make_id = df_veh_make_id.withColumn('dense_rank', dense_rank().over(windowSpec))

# Filtering top 5th to 15th veh_make_id
df_rank_veh_make_id.filter('dense_rank>=5 AND dense_rank<=15').select(['VEH_MAKE_ID']).show(truncate=False)

+-----------+
|VEH_MAKE_ID|
+-----------+
|NISSAN     |
|HONDA      |
|GMC        |
|HYUNDAI    |
|KIA        |
|JEEP       |
|CHRYSLER   |
|MAZDA      |
|PONTIAC    |
|VOLKSWAGEN |
|LEXUS      |
+-----------+

# Analysis 5: For all the body styles involved in crashes, mention the top ethnic user group of each unique body style

In [104]:
df_pp.select("CRASH_ID", "PRSN_ETHNICITY_ID").distinct().show()

+--------+-----------------+
|CRASH_ID|PRSN_ETHNICITY_ID|
+--------+-----------------+
|14842987|            BLACK|
|14845235|            WHITE|
|14847796|            WHITE|
|14848985|         HISPANIC|
|14849674|            WHITE|
|14849994|            ASIAN|
|14850477|            WHITE|
|14850795|            BLACK|
|14850895|            WHITE|
|14851253|            BLACK|
|14851478|         HISPANIC|
|14851529|            BLACK|
|14852255|         HISPANIC|
|14852370|            WHITE|
|14852671|            BLACK|
|14852682|            WHITE|
|14853923|            BLACK|
|14855453|            ASIAN|
|14856417|            WHITE|
|14858416|            BLACK|
+--------+-----------------+
only showing top 20 rows

In [105]:
w2 = Window.partitionBy("VEH_BODY_STYL_ID").orderBy(col("count").desc())
df_units.select("VEH_BODY_STYL_ID").distinct().show(truncate = False)

+---------------------------------+
|VEH_BODY_STYL_ID                 |
+---------------------------------+
|BUS                              |
|NA                               |
|VAN                              |
|PICKUP                           |
|SPORT UTILITY VEHICLE            |
|PASSENGER CAR, 4-DOOR            |
|FIRE TRUCK                       |
|TRUCK                            |
|UNKNOWN                          |
|AMBULANCE                        |
|POLICE CAR/TRUCK                 |
|MOTORCYCLE                       |
|YELLOW SCHOOL BUS                |
|PASSENGER CAR, 2-DOOR            |
|TRUCK TRACTOR                    |
|FARM EQUIPMENT                   |
|NEV-NEIGHBORHOOD ELECTRIC VEHICLE|
|OTHER  (EXPLAIN IN NARRATIVE)    |
|POLICE MOTORCYCLE                |
|NOT REPORTED                     |
+---------------------------------+

In [106]:
#df_units.join(df_pp, on=['CRASH_ID'], how='inner').\
#filter(~df_units.VEH_BODY_STYL_ID.isin(["NA", "UNKNOWN", "NOT REPORTED", "OTHER  (EXPLAIN IN NARRATIVE)"])).\
#filter(~df_pp.PRSN_ETHNICITY_ID.isin(["NA", "UNKNOWN"])).\
#groupby("VEH_BODY_STYL_ID", "PRSN_ETHNICITY_ID").count().show()

df_units.join(df_pp, on=['CRASH_ID'], how='inner').\
filter(~df_units.VEH_BODY_STYL_ID.isin(["NA", "UNKNOWN", "NOT REPORTED", "OTHER  (EXPLAIN IN NARRATIVE)"])).\
filter(~df_pp.PRSN_ETHNICITY_ID.isin(["NA", "UNKNOWN"])).\
groupby("VEH_BODY_STYL_ID", "PRSN_ETHNICITY_ID").count().filter(col("VEH_BODY_STYL_ID") == "TRUCK TRACTOR").show()

+----------------+--------------------+-----+
|VEH_BODY_STYL_ID|   PRSN_ETHNICITY_ID|count|
+----------------+--------------------+-----+
|   TRUCK TRACTOR|               BLACK| 2170|
|   TRUCK TRACTOR|               ASIAN|  200|
|   TRUCK TRACTOR|AMER. INDIAN/ALAS...|   16|
|   TRUCK TRACTOR|               OTHER|  343|
|   TRUCK TRACTOR|               WHITE| 5815|
|   TRUCK TRACTOR|            HISPANIC| 4773|
+----------------+--------------------+-----+

In [107]:
df_units.join(df_pp, on=['CRASH_ID'], how='inner').\
filter(~df_units.VEH_BODY_STYL_ID.isin(["NA", "UNKNOWN", "NOT REPORTED", "OTHER  (EXPLAIN IN NARRATIVE)"])).\
filter(~df_pp.PRSN_ETHNICITY_ID.isin(["NA", "UNKNOWN"])).\
groupby("VEH_BODY_STYL_ID", "PRSN_ETHNICITY_ID").count().\
withColumn('dense_rank',  dense_rank().over(w2)).filter(col('dense_rank') == 1).drop("dense_rank").show(truncate=False)

+---------------------------------+-----------------+-----+
|VEH_BODY_STYL_ID                 |PRSN_ETHNICITY_ID|count|
+---------------------------------+-----------------+-----+
|AMBULANCE                        |WHITE            |97   |
|BUS                              |HISPANIC         |391  |
|FARM EQUIPMENT                   |WHITE            |63   |
|FIRE TRUCK                       |WHITE            |112  |
|MOTORCYCLE                       |WHITE            |848  |
|NEV-NEIGHBORHOOD ELECTRIC VEHICLE|WHITE            |10   |
|PASSENGER CAR, 2-DOOR            |WHITE            |9877 |
|PASSENGER CAR, 4-DOOR            |WHITE            |58312|
|PICKUP                           |WHITE            |38609|
|POLICE CAR/TRUCK                 |WHITE            |366  |
|POLICE MOTORCYCLE                |HISPANIC         |3    |
|SPORT UTILITY VEHICLE            |WHITE            |33902|
|TRUCK                            |WHITE            |4204 |
|TRUCK TRACTOR                    |WHITE            |5815 |
|VAN                              |WHITE            |5291 |
|YELLOW SCHOOL BUS                |WHITE            |264  |
+---------------------------------+-----------------+-----+

# Analysis 6: Among the crashed cars, what are the Top 5 Zip Codes with highest number crashes with alcohols as the contributing factor to a crash (Use Driver Zip Code)

In [24]:
df_pp.select("DRVR_ZIP").distinct().show(truncate=False)

+--------+
|DRVR_ZIP|
+--------+
|75007   |
|78073   |
|77371   |
|79849   |
|77339   |
|77303   |
|78382   |
|75602   |
|72472   |
|770598  |
|84606   |
|71047   |
|788559  |
|79504   |
|78211   |
|70665   |
|79360   |
|77872   |
|74745   |
|78022   |
+--------+
only showing top 20 rows

In [27]:
df_units.filter(col("CONTRIB_FACTR_1_ID").contains("ALCOHOL")).select("CONTRIB_FACTR_1_ID").show(truncate = False)

+-------------------------+
|CONTRIB_FACTR_1_ID       |
+-------------------------+
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
+-------------------------+
only showing top 20 rows

In [28]:
df_units.filter(col("CONTRIB_FACTR_2_ID").contains("ALCOHOL")).select("CONTRIB_FACTR_2_ID").show(truncate = False)

+-------------------------+
|CONTRIB_FACTR_2_ID       |
+-------------------------+
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
|UNDER INFLUENCE - ALCOHOL|
+-------------------------+
only showing top 20 rows

In [30]:
# Using contributing factor and dropping null values
df = df_units.join(df_pp, on=['CRASH_ID'], how='inner').\
dropna(subset=["DRVR_ZIP"]).\
filter(col("CONTRIB_FACTR_1_ID").contains("ALCOHOL") | col("CONTRIB_FACTR_2_ID").contains("ALCOHOL")).\
groupby("DRVR_ZIP").count().orderBy(col("count").desc()).limit(5)

df.show(truncate = False)

+--------+-----+
|DRVR_ZIP|count|
+--------+-----+
|76010   |75   |
|78521   |61   |
|75067   |54   |
|78574   |47   |
|75052   |43   |
+--------+-----+

# Analysis 7: Count of Distinct Crash IDs where No Damaged Property was observed and Damage Level (VEH_DMAG_SCL~) is above 4 and car avails Insurance

In [32]:
df_units.dropna(subset = ["VEH_PARKED_FL"]).select("VEH_PARKED_FL").show()

+-------------+
|VEH_PARKED_FL|
+-------------+
|            N|
|            N|
|            N|
|            N|
|            N|
|            N|
|            N|
|            N|
|            N|
|            N|
|            Y|
|            Y|
|            N|
|            N|
|            N|
|            N|
|            N|
|            Y|
|            Y|
|            Y|
+-------------+
only showing top 20 rows

In [108]:
df_units.select("FIN_RESP_TYPE_ID").distinct().show(truncate = False)

+----------------------------------------+
|FIN_RESP_TYPE_ID                        |
+----------------------------------------+
|INSURANCE BINDER                        |
|LIABILITY INSURANCE POLICY              |
|NA                                      |
|CERTIFICATE OF SELF-INSURANCE           |
|CERTIFICATE OF DEPOSIT WITH COMPTROLLER |
|SURETY BOND                             |
|PROOF OF LIABILITY INSURANCE            |
|CERTIFICATE OF DEPOSIT WITH COUNTY JUDGE|
+----------------------------------------+

In [109]:
df_units.select("VEH_DMAG_SCL_1_ID").distinct().show(truncate = False)

+-----------------+
|VEH_DMAG_SCL_1_ID|
+-----------------+
|DAMAGED 4        |
|INVALID VALUE    |
|NA               |
|DAMAGED 5        |
|DAMAGED 1 MINIMUM|
|DAMAGED 3        |
|NO DAMAGE        |
|DAMAGED 7 HIGHEST|
|DAMAGED 2        |
|DAMAGED 6        |
+-----------------+

In [110]:
df_units.select("VEH_DMAG_SCL_2_ID").distinct().show(truncate = False)

+-----------------+
|VEH_DMAG_SCL_2_ID|
+-----------------+
|DAMAGED 4        |
|INVALID VALUE    |
|NA               |
|DAMAGED 5        |
|DAMAGED 1 MINIMUM|
|DAMAGED 3        |
|NO DAMAGE        |
|DAMAGED 7 HIGHEST|
|DAMAGED 2        |
|DAMAGED 6        |
+-----------------+

In [112]:
# Damage id above damage level 4
damage_id = ['DAMAGED 5', 'DAMAGED 6', 'DAMAGED 7 HIGHEST']
# Considering PROOF OF LIABILITY INSURANCE is filter for insurance
df_damages.join(df_units, on=["CRASH_ID"], how='inner')\
.filter((df_units.VEH_DMAG_SCL_1_ID.isin(damage_id))  | (df_units.VEH_DMAG_SCL_2_ID.isin(damage_id)))\
.filter(df_damages.DAMAGED_PROPERTY == "NONE")\
.filter(col("FIN_RESP_TYPE_ID").contains("PROOF OF LIABILITY INSURANCE")).\
select("CRASH_ID", "VEH_DMAG_SCL_1_ID", "VEH_DMAG_SCL_2_ID", "FIN_RESP_TYPE_ID", "DAMAGED_PROPERTY").count()

7

# 8.	Analysis 8: Determine the Top 5 Vehicle Makes where drivers are charged with speeding related offences, has licensed Drivers, used top 10 used vehicle colours and has car licensed with the Top 25 states with highest number of offences (to be deduced from the data)

In [53]:
df_units.select("VEH_COLOR_ID").distinct().show(100, truncate = False)

+------------+
|VEH_COLOR_ID|
+------------+
|RED         |
|TEA         |
|BLK         |
|ONG         |
|YEL         |
|GLD         |
|NA          |
|99          |
|CAM         |
|BRZ         |
|TRQ         |
|SIL         |
|CPR         |
|BRO         |
|PLE         |
|BLU         |
|MAR         |
|BGE         |
|PNK         |
|WHI         |
|TAN         |
|MUL         |
|GRN         |
|GRY         |
|98          |
+------------+

In [54]:
df_units.groupby("VEH_MAKE_ID").count().orderBy(col("count").desc()).show()

+------------+-----+
| VEH_MAKE_ID|count|
+------------+-----+
|        FORD|29792|
|   CHEVROLET|28073|
|      TOYOTA|16487|
|       DODGE|13091|
|      NISSAN|10964|
|       HONDA|10460|
|          NA| 6234|
|         GMC| 5044|
|        JEEP| 4170|
|     HYUNDAI| 3859|
|         KIA| 3186|
|    CHRYSLER| 3144|
|FREIGHTLINER| 2861|
|       MAZDA| 2585|
|     PONTIAC| 2144|
|  VOLKSWAGEN| 2141|
|       LEXUS| 2087|
|       BUICK| 1965|
|    CADILLAC| 1796|
|  MITSUBISHI| 1756|
+------------+-----+
only showing top 20 rows

In [66]:
#df_units.columns
#df_units.printSchema()
#df_units.select("VEH_LIC_STATE_ID").distinct().show(100, truncate = False)
#df_units.groupby("VEH_LIC_STATE_ID").count().orderBy(col("count").desc()).show(100)
#df_units.filter(col("VEH_LIC_STATE_ID").cast("int").isNull()).groupby("VEH_LIC_STATE_ID").count().orderBy(col("count").desc()).show(100)
df_units.groupby("VEH_LIC_STATE_ID").count().orderBy(col("count").desc()).show(100)

+----------------+------+
|VEH_LIC_STATE_ID| count|
+----------------+------+
|              TX|156997|
|              NA|  6065|
|              UN|  1791|
|              OK|   970|
|              LA|   782|
|              NM|   731|
|              IN|   544|
|              MX|   493|
|              CA|   482|
|              FL|   416|
|              IL|   370|
|              AR|   350|
|              TN|   304|
|              MS|   244|
|              AZ|   236|
|              KS|   186|
|              GA|   177|
|              MO|   177|
|              CO|   175|
|              NC|   159|
|              AL|   145|
|              OH|   127|
|              MI|   122|
|              MN|   113|
|              98|   109|
|              WI|   101|
|              VA|    98|
|              NE|    88|
|              WA|    85|
|              IA|    79|
|              UT|    75|
|              OR|    71|
|              PA|    70|
|              SC|    63|
|              CD|    57|
|              NY|    50|
|              KY|    45|
|              NV|    41|
|              MD|    40|
|              NJ|    34|
|              MT|    31|
|              ID|    28|
|              ND|    26|
|              CT|    21|
|              SD|    20|
|              WY|    19|
|              AK|    16|
|              MA|    11|
|              AS|    10|
|              WV|    10|
|              NH|     8|
|              ME|     7|
|              US|     7|
|              RI|     6|
|              VT|     5|
|              HI|     5|
|              DE|     4|
|              DS|     2|
|              DC|     1|
+----------------+------+

In [68]:
df_pp.select("DRVR_LIC_TYPE_ID").distinct().show(100, truncate = False)
# Filtering DRVR_LIC_TYPE_ID on licensed drivers
df_pp.filter(df_pp.DRVR_LIC_TYPE_ID.isin(["COMMERCIAL DRIVER LIC.", "DRIVER LICENSE"])).select("DRVR_LIC_TYPE_ID").distinct().show(100, truncate = False)

+----------------------+
|DRVR_LIC_TYPE_ID      |
+----------------------+
|NA                    |
|COMMERCIAL DRIVER LIC.|
|ID CARD               |
|UNKNOWN               |
|OCCUPATIONAL          |
|UNLICENSED            |
|OTHER                 |
|DRIVER LICENSE        |
+----------------------+

+----------------------+
|DRVR_LIC_TYPE_ID      |
+----------------------+
|COMMERCIAL DRIVER LIC.|
|DRIVER LICENSE        |
+----------------------+

In [71]:
df_charges.select("CHARGE").distinct().show(truncate = False)
# Filtering charge for speed
df_charges.select("CHARGE").filter(df_charges.CHARGE.contains("SPEED")).distinct().show( truncate = False)

+------------------------------------------------------------+
|CHARGE                                                      |
+------------------------------------------------------------+
|FAIL TO PASS SAFELY TO THE LEFT                             |
|DRIVING W/O LICENSE                                         |
|FAIL TO PASS LEFT SAFELY                                    |
|UNSAFE SPEED/ DISPLAY EX REG                                |
|WRONG SIDE OF ROAD - NOT PASSING                            |
|FAIL TO YIELD AT YIELD INTERSTECTION                        |
|FAILED TO YIELD R.O.W (STOP SIGN) ACC                       |
|RIDE NOT SECURE BY SAFETY BELT-DRIVER                       |
|FAILURE TO CONTROL SPEED, NO DRIVER LICENSE                 |
|FAILURE TO CONTROL SPEED ACCIDENT                           |
|FAILED TO STOP - STOP SIGN                                  |
|FAIL TO DRIVE INSINGLE LANE                                 |
|FAIL STOP AND GIVE INFO                                     |
|550.024(A)-DUTY UPON STRIKING UNATTENDED VEHICLE            |
|F/T Y ROW MAKING LEFT TURN                                  |
|EXP REGISTRATION 12/15                                      |
|FYROW-STOP INTERSECTION                                     |
|FTYROW OPEN DRIVE                                           |
|UNSAFE LANE CHANGE-SUMMONS                                  |
|POSSESSION OF A CONTROLLED SUBSTANCE W/ INTENT TO DISTRIBUTE|
+------------------------------------------------------------+
only showing top 20 rows

+--------------------------------------------------------------+
|CHARGE                                                        |
+--------------------------------------------------------------+
|UNSAFE SPEED/ DISPLAY EX REG                                  |
|FAILURE TO CONTROL SPEED, NO DRIVER LICENSE                   |
|FAILURE TO CONTROL SPEED ACCIDENT                             |
|FT CONTROL SPEED C/A                                          |
|TC545.351 FAIL TO CONTROL SPEED                               |
|UNSAFE SPEED -CONDITIONS/RAIN                                 |
|FAIL TO CONTROL SPEED/ACCIDENT                                |
|FAIL TO CONTROL SPEED (RUST)                                  |
|FAILT TO CONTROL MOTOR VEHICLE -SPEED                         |
|FAILURE TO CONTROL SPEED-ACC, NO DL                           |
|FAIL TO CONTROL SPEED TO AVOID ACCIDENT                       |
|FAILURE TON CONTROL SPEED TO AVOID COLLISION                  |
|UNSAFE SPEED OF WEATHER CONDITIONS                            |
|ACCIDENT+FAILURE TO CONTROL SPEED                             |
|FAIL TO CONTROL SPEED/CA                                      |
|"FAIL TO CONTROL SPEED COLLIDE WITH FIXED OBJECT ""ACCIDENT"""|
|NO DRIVERS LICENSE FAIL TO CONTROL SPEED                      |
|FAIL TO CONTROL SPEED --- ACC                                 |
|FAIL TOO CONTROL SPEED                                        |
|INCREASED SPEED WHILE BEING OVERTAKEN                         |
+--------------------------------------------------------------+
only showing top 20 rows

In [73]:
# Filtering DRVR_LIC_TYPE_ID on licensed drivers
# Filtering charge for speed
# charge join to units for make_id
df = df_charges.join(df_pp, on=['CRASH_ID'], how='inner').\
join(df_units,  on=['CRASH_ID'], how='inner').\
filter(df_charges.CHARGE.contains("SPEED")).\
filter(df_pp.DRVR_LIC_TYPE_ID.isin(["DRIVER LICENSE", "COMMERCIAL DRIVER LIC."])).\
groupby("VEH_COLOR_ID", "VEH_LIC_STATE_ID", "VEH_MAKE_ID").count().orderBy(col("count").desc())
df.show(truncate = False)

+------------+----------------+-----------+-----+
|VEH_COLOR_ID|VEH_LIC_STATE_ID|VEH_MAKE_ID|count|
+------------+----------------+-----------+-----+
|WHI         |TX              |FORD       |5581 |
|WHI         |TX              |CHEVROLET  |4514 |
|NA          |NA              |NA         |4148 |
|BLK         |TX              |FORD       |3062 |
|BLK         |TX              |CHEVROLET  |2861 |
|WHI         |TX              |TOYOTA     |2480 |
|RED         |TX              |FORD       |2095 |
|SIL         |TX              |TOYOTA     |2079 |
|SIL         |TX              |CHEVROLET  |1888 |
|WHI         |TX              |DODGE      |1860 |
|GRY         |TX              |FORD       |1801 |
|GRY         |TX              |TOYOTA     |1750 |
|SIL         |TX              |FORD       |1744 |
|BLU         |TX              |FORD       |1712 |
|BLK         |TX              |TOYOTA     |1632 |
|GRY         |TX              |CHEVROLET  |1609 |
|BLK         |TX              |NISSAN     |1518 |
|BLK         |TX              |DODGE      |1475 |
|BLU         |TX              |CHEVROLET  |1404 |
|RED         |TX              |CHEVROLET  |1401 |
+------------+----------------+-----------+-----+
only showing top 20 rows

In [79]:
#df_units.na.drop(subset=["VEH_LIC_STATE_ID"]).groupby("VEH_LIC_STATE_ID").count().orderBy(col("count").desc()).limit(25).show(truncate=False)
#df_units.na.drop(subset=["VEH_LIC_STATE_ID"]).groupby("VEH_LIC_STATE_ID").count().orderBy(col("count").desc()).limit(25).show(truncate=False)
# Getting top 25 states and top 1- vehicle color
top_25_states = [row[0] for row in df_units.na.drop(subset=["VEH_LIC_STATE_ID"]).groupby("VEH_LIC_STATE_ID").count().orderBy(col("count").desc()).limit(25).collect()]

top_10_vehicle_colors = [row[0] for row in df_units.filter(df_units.VEH_COLOR_ID != "NA").groupby("VEH_COLOR_ID").count().orderBy(col("count").desc()).limit(10).collect()]

print(top_25_states)
print(top_10_vehicle_colors)

['TX', 'NA', 'UN', 'OK', 'LA', 'NM', 'IN', 'MX', 'CA', 'FL', 'IL', 'AR', 'TN', 'MS', 'AZ', 'KS', 'GA', 'MO', 'CO', 'NC', 'AL', 'OH', 'MI', 'MN', '98']
['WHI', 'BLK', 'SIL', 'GRY', 'BLU', 'RED', 'GRN', 'MAR', 'TAN', 'GLD']

In [82]:
df_charges.join(df_pp, on=['CRASH_ID'], how='inner'). \
join(df_units, on=['CRASH_ID'], how='inner'). \
filter(df_charges.CHARGE.contains("SPEED")). \
filter(df_pp.DRVR_LIC_TYPE_ID.isin(["DRIVER LICENSE", "COMMERCIAL DRIVER LIC."])).\
filter(df_units.VEH_COLOR_ID.isin(top_10_vehicle_colors)).\
filter(df_units.VEH_LIC_STATE_ID.isin(top_25_states)).\
groupby("VEH_MAKE_ID").count().\
orderBy(col("count").desc()).show(5, truncate = False)

+-----------+-----+
|VEH_MAKE_ID|count|
+-----------+-----+
|FORD       |19212|
|CHEVROLET  |16864|
|TOYOTA     |11826|
|DODGE      |7945 |
|NISSAN     |7332 |
+-----------+-----+
only showing top 5 rows